header {
    height: auto;
}
.button {
    padding: 20px 20px;
    text-decoration: none;
    height:auto;
    background-color: #7ed957;
    color: black;
    border-radius: 20%;
  }
.button:hover {
    background-image: linear-gradient(black,#7ed957);
    color: #7ed957;
    opacity: .5;
  }
.nav2 {
    margin-left: -50px;
}
.btn4 {
    margin-right:280px;
}
.se {
    margin-left:270px;
    height: 350px;
    width: 275px;
    border-style: outset;
}
.se2 {
    border-style: outset;
}
.se3 {
    height: 350px;
    width:275px;
    border-style: outset;
}
.h1 {
    text-align: center;
}
#map {
    height:100px;
    width:100px;
}
