body {
    background-image: linear-gradient(black,blue,yellow);
    background-repeat: no-repeat;
}
header {
    height: 10%;
    
}
.content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.089),rgba(0, 0, 255, 0));

}
nav ul {
    list-style-type: none;
    float: right;
    margin: 1.5%;
    width: 500px;
    
}
nav ul li {
    display: inline-block;
} 
nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    height:auto;
    background-color: aqua;
}
ul li a:hover {
    background-color: aquamarine;
}
section {
    height: 300px;
    width: 30%;
    background-color: bisque;
    border:10px;
}
article {
    height: 300px;
    width: 30%;
    background-color: bisque;
    border: 10px;
}
section, article {
    display: inline-block;
}
aside {
    float: right;
    height: 200px;
    width: 300px;
    background-color: burlywood;
    clear: both;
}
header img {
    height: 100px;
    width: 100%;
}
aside img {
    max-width: 300px;
}
