header {
    background-color: black;
}
.logo img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h1 {
    color: #7ed957;
    text-align: center;
}
body {
    height: 60%;
    width: auto;
    background-color: black;
}
footer {
    height: 300px;
    background-image: linear-gradient(#000,#7ed957);
    width: auto;
    clear: right;
}
nav ul {
    list-style-type: none;
    width: 500px;
    margin-top: 35px;
    margin-left: 535px;
}
.btn1 {
    margin-right: 50px;
}
.btn2 {
    margin-right: 50px;
}
.btn3 {
    margin-right: 50px;
}
nav ul li {
    display: inline-block;
} 
nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    height:auto;
    background-color: #7ed957;
    color: black;
    border-radius: 20%;
}
ul li a:hover {
    background-color: rgba(0, 0, 0, 0.438);
    color: #7ed957;
    opacity: .5;
}
ul li a:active {
    color: #efff0b;
}
section {
    border-radius: 5%;
    background-color: #7ed957;
    border:10px;
}
article {
    border-radius: 5%;
    background-color: #7ed957;
    border: 10px;
    float: right;
}
section, article {
    margin-top: 20px;
    height: 600px;
    width: 30%;
    display: inline-block;
}

