header {
    height:100px;
    width: auto;
}
body {
    height: 60%;
    width: auto;
}
footer {
    height: 100px;
    background-color: ghostwhite;
    width: auto;
    clear: right;
}
.content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.089),rgba(0, 0, 255, 0));
    height: 400px;
}
nav ul {
    list-style-type: none;
    float: right;
    margin: 1.5%;
    width: 500px;
    
}
nav ul li {
    display: inline-block;
} 
nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    height:auto;
    background-color: #efff0b;
    color: black;
}
ul li a:hover {
    background-color: rgba(0, 0, 0, 0.438);
    opacity: .5;
}
ul li a:active {
    color: #efff0b;
}
section {
    
    background-color: bisque;
    border:10px;
}
article {
    
    background-color: bisque;
    border: 10px;
}
section, article {
    height: 600px;
    width: 30%;
    display: inline-block;
}
aside {
    float: right;
    height: 600px;
    width: 594px;
    background-color: burlywood;
    clear: left;
}
header img {
    height: 100px;
    width: 100%;
}
aside img {
    max-width: 300px;
}
