/*hello*/
header {
    background-color: black;
}
.logo img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.flex h1 {
    color: #7ed957;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    width: 500px;
    margin-top: 50px;
    margin-left: 535px;
}
nav {
    clear: both;
    height: 100px;
    margin-top: 20px;
}
.btn1 {
    margin-right: 50px;
}
.btn2 {
    margin-right: 50px;
}
.btn3 {
    margin-right: 50px;
}
nav ul li {
    display: inline-block;
} 
nav ul li a {
    padding: 20px 20px;
    text-decoration: none;
    height:auto;
    background-image: linear-gradient(black,#7ed957);
    opacity: .7;
    background-color: #7ed957;
    color: black;
    border-radius: 20%;
}
ul li a:hover {
    background-color: #000;
    color: #7ed957;
    opacity: .5;
}
body {
    height: 60%;
    width: auto;
    background-color: black;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: large;
}
.vid, .vid2 {
    display: inline-block;
}
.vid {
    margin-left: 9%;
    position: absolute;
}
.vid2 {
    margin-left: 9%;
    position: relative;
}
section, article {
    margin-top: 20px;
    height: 600px;
    width: 30%;
    display: inline-block;
}
section {
    border-radius: 5%;
    background-color: #7ed957;
    border:10px;
    border-color:#5781455e;
    opacity: .8;
    border-style: outset;
}
.left {
    text-align: center;
}
.right {
    text-align: center;
}
article {
    border-radius: 5%;
    background-color: #7ed957;
    border: 10px;
    float: right;
    border-color:#5781455e;
    opacity: .8;
    border-style: outset;
}
footer {
    height: 80px;
    background-image: linear-gradient(#000,#7ed957);
    width: auto;
    clear: right;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background-image: linear-gradient(black,#7ed957);
    color: white;
    margin-left: 115px;
    margin-right: 200px;
  }
  
  .fa-twitter {
    background-image: linear-gradient(black,#7ed957);
    color: white;
    margin-right: 200px;
  }
  .fa-instagram {
    background-image: linear-gradient(black,#7ed957);
    color: white;
    margin-right: 200px;
  }
  .fa-linkedin {
    background-image: linear-gradient(black,#7ed957);
    color: white;
    margin-right: 200px;
  }
  .fa-tumblr {
    background-image: linear-gradient(black,#7ed957);
    color: white;
  }
 